# Configuración de Supabase (Frontend)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Configuración API Directa de Correos (Frontend)
# (Si usas un microservicio o webhook de admision@unsaac.edu.pe)
VITE_EMAIL_API_URL=https://api.tu-servidor.com/send
VITE_EMAIL_API_KEY=tu_token_de_seguridad

# Configuración de Servidor de Archivos Locales (Cloudflare Tunnel)
VITE_API_URL=http://localhost:5000

# Configuración de Supabase (Backend Privilegiado para Bot)
# IMPORTANTE: Reemplazar el ANON_KEY con el SERVICE_ROLE_KEY si se usará Cron para que el bot tenga acceso a leer todo sin iniciar sesión
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucXB6eWFubW13c3B2ZW1jZmViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTgxNTc0MywiZXhwIjoyMDg1MzkxNzQzfQ.ME18iloL44XbOeLo_TbK0CL3n_3jg-uVrr0VaTKZQDI

# Clave Secreta para proteger tus tareas Cron de atacantes web
CRON_SECRET=UnsaacAdminCron2026_SuperSecreto!

# Configuración de Correo (Backend Opcional)
GMAIL_USER=admision.unsaac@gmail.com
GMAIL_APP_PASSWORD=oaki mixo wlwa pecc

# API Key de Gemini para personalización de instructivos con IA
GEMINI_API_KEY=
